* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

nav,
footer {
  width: 100%;
}
.nav-container {
  width: 100%;
  max-width: 1536px;
  display: flex;
  justify-content: space-around;
}
.nav-items {
  list-style: none;
  display: flex;
}
.employees-container,
.footer-container,
#home-section2,
#about_section1 {
  width: 100%;
  max-width: 1536px;
}
.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* XL */
@media only screen and (max-width: 1536px) {
  .nav-container,
  #home-section2,
  #about_section1,
  .employees-container,
  .footer-container {
    max-width: 1536px;
  }
}
/* LG */
@media only screen and (max-width: 1200px) {
  .nav-container,
  #home-section2,
  #about_section1,
  .employees-container,
  .footer-container {
    max-width: 1536px;
  }
}
/* MD */
@media only screen and (max-width: 900px) {
}
/* SM */
@media only screen and (max-width: 600px) {
}
